In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv(f'C:/Users/user/Desktop/Badboys/student_performance_prediction2.csv')
df

,Student ID,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%),Participation in Extracurricular Activities,Parent Education Level,Passed
0,S00001,12.5,NaN,75.0,Yes,Master,Yes
1,S00002,9.3,76.138482,60.6,No,High School,No
2,S00003,13.2,NaN,64.0,No,Associate,Yes
3,S00004,17.6,61.358189,62.4,Yes,Bachelor,Yes
4,S00005,8.8,71.344874,72.7,No,Master,No
...,...,...,...,...,...,...,...
39995,S39996,15.6,74.940080,51.4,Yes,Master,Yes
39996,S39997,11.3,53.049268,64.2,No,Doctorate,Yes
39997,S39998,13.1,52.410120,38.1,No,Bachelor,Yes
39998,S39999,14.1,59.840213,NaN,Yes,Master,Yes
39999,S40000,11.8,44.021305,68.5,No,Bachelor,Yes

### DROP COLUMNS WITH LEAST CORRELATION TO OUR TARGET VARIABLE

In [25]:
df.drop(['Parent Education Level', 'Student ID', 'Participation in Extracurricular Activities'],axis='columns', inplace=True)
df

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%),Passed
0,12.5,NaN,75.0,Yes
1,9.3,76.138482,60.6,No
2,13.2,NaN,64.0,Yes
3,17.6,61.358189,62.4,Yes
4,8.8,71.344874,72.7,No
...,...,...,...,...
39995,15.6,74.940080,51.4,Yes
39996,11.3,53.049268,64.2,Yes
39997,13.1,52.410120,38.1,Yes
39998,14.1,59.840213,NaN,Yes
39999,11.8,44.021305,68.5,Yes

In [26]:
df.describe()

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%)
count,38005.000000,38008.000000,38006.000000
mean,9.962744,60.140871,65.440107
std,5.031154,16.293010,16.503119
min,-12.300000,-11.424767,8.300000
25%,6.600000,49.214381,55.100000
50%,10.000000,60.159787,65.200000
75%,13.400000,70.945406,75.200000
max,32.400000,120.000000,200.000000

### DATA WRANGLING

In [27]:
# Replace empty strings with NaN and then drop rows with NaN in the specified column
df['Mock Result Cummulative(100%)'].replace('', pd.NA, inplace=True)
df_cleaned = df.dropna(subset=['Mock Result Cummulative(100%)'])
df_cleaned.shape

(38006, 4)

In [28]:
#Clean out negative value of result
df_cleaned[df_cleaned['Mock Result Cummulative(100%)'] < 0].shape[0]
df_cleaned = df_cleaned[df_cleaned['Mock Result Cummulative(100%)'] >= 0]
df_cleaned.shape

(38006, 4)

In [29]:
#Clean out negative value of study hours
df_cleaned[df_cleaned['Study Hours per Week'] < 0].shape[0]
df_cleaned = df_cleaned[df_cleaned['Study Hours per Week'] >= 0]
df_cleaned.shape

(35215, 4)

In [30]:
# Replace empty strings with NaN and then drop rows with NaN in the specified column
df_cleaned['Study Hours per Week'].replace('', pd.NA, inplace=True)
df_cleaned = df_cleaned.dropna(subset=['Study Hours per Week'])
df_cleaned.shape

(35215, 4)

In [31]:
# Replace empty strings with NaN and then drop rows with NaN in the specified column
df_cleaned['Previous Grades cummulative(100%)'].replace('', pd.NA, inplace=True)
df_cleaned = df_cleaned.dropna(subset=['Previous Grades cummulative(100%)'])
df_cleaned.shape

(33471, 4)

In [32]:
df_cleaned.describe()

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%)
count,33471.000000,33471.000000,33471.000000
mean,10.266003,60.170547,65.416026
std,4.713553,16.278691,16.503633
min,0.000000,-11.424767,8.300000
25%,6.900000,49.214381,55.000000
50%,10.100000,60.159787,65.200000
75%,13.500000,70.945406,75.200000
max,32.400000,120.000000,200.000000

In [33]:
#Remove outlier exam scores
df_cleaned[df_cleaned['Previous Grades cummulative(100%)'] > 100].shape[0]
df_cleaned = df_cleaned[df_cleaned['Previous Grades cummulative(100%)'] <= 90]
df_cleaned.shape

(32371, 4)

In [34]:
# Remove outlier mock result scores
df2 = df_cleaned
df2[df2['Mock Result Cummulative(100%)'] > 95].shape[0]
df2 = df2[df2['Mock Result Cummulative(100%)'] <= 95]
df2.shape

(31544, 4)

In [35]:
df2

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%),Passed
1,9.3,76.138482,60.6,No
3,17.6,61.358189,62.4,Yes
4,8.8,71.344874,72.7,No
5,8.8,58.961385,69.3,Yes
6,17.9,30.838881,93.6,Yes
...,...,...,...,...
39994,5.1,73.581891,46.1,No
39995,15.6,74.940080,51.4,Yes
39996,11.3,53.049268,64.2,Yes
39997,13.1,52.410120,38.1,Yes
39999,11.8,44.021305,68.5,Yes

In [36]:
df2.Passed.isna().sum()

776

In [37]:
#Reomove all datapoints without value in the target variable
df2['Passed'].replace('', pd.NA, inplace=True)
df2 = df2.dropna(subset=['Passed'])
df2.shape

C:\Users\user\AppData\Local\Temp\ipykernel_11796\2558887656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Passed'].replace('', pd.NA, inplace=True)

(30768, 4)

### CONVERT TARGET COLUMN TO NUMBERS FOR THE MODEL TO UNDERSTAND

In [38]:
# Replace 'Yes' with 1 and 'No' with 0
df2['Passed'] = df2['Passed'].replace({'Yes': int(1), 'No': (0)})

# Display the updated DataFrame
df2

C:\Users\user\AppData\Local\Temp\ipykernel_11796\1018609197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Passed'] = df2['Passed'].replace({'Yes': int(1), 'No': (0)})

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%),Passed
1,9.3,76.138482,60.6,0
3,17.6,61.358189,62.4,1
4,8.8,71.344874,72.7,0
5,8.8,58.961385,69.3,1
6,17.9,30.838881,93.6,1
...,...,...,...,...
39994,5.1,73.581891,46.1,0
39995,15.6,74.940080,51.4,1
39996,11.3,53.049268,64.2,1
39997,13.1,52.410120,38.1,1
39999,11.8,44.021305,68.5,1

### MODEL TRAINING

In [5]:
from sklearn.model_selection import train_test_split

In [6]:

y = df['Passed']
y

0        0
1        1
2        0
3        1
4        1
        ..
30102    0
30103    1
30104    1
30105    1
30106    1
Name: Passed, Length: 30107, dtype: int64

In [7]:
x = df.drop('Passed',axis='columns')
x

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%)
0,9.3,60.829679,60.6
1,17.6,49.021190,62.4
2,8.8,56.999899,72.7
3,8.8,47.106299,69.3
4,13.8,61.148828,59.2
...,...,...,...
30102,5.1,58.787130,46.1
30103,15.6,59.872234,51.4
30104,11.3,42.382904,64.2
30105,13.1,41.872266,38.1
30106,11.8,35.170150,68.5

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size=0.8)
X_train.shape

(24085, 3)

In [9]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [10]:
model.fit(X_train, y_train)

LogisticRegression()

In [11]:
X_test

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%)
8298,9.8,59.744575,82.7
27514,4.8,36.638233,62.3
2259,6.1,65.361586,64.3
11679,5.8,38.170145,54.6
27978,8.1,58.148833,81.1
...,...,...,...
19889,2.3,57.510536,88.5
9982,7.1,49.085019,31.8
24897,13.8,43.212689,61.0
12885,3.3,37.595678,39.8
19259,18.8,51.638206,68.4

In [12]:
model.score(X_test,y_test)

0.7441049485220856

### CHECKING BEST MODEL AND HYPER PARAMETER VALUES TO USE

In [13]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier


model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [14]:
from sklearn.model_selection import GridSearchCV
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                   best_params
0                  svm    0.746315  {'C': 1, 'kernel': 'linear'}
1        random_forest    0.744613          {'n_estimators': 10}
2  logistic_regression    0.742994                      {'C': 5}

### MODEL SAVING

In [15]:
import pickle

In [16]:
with open('model_pickle','wb') as file:
    pickle.dump(model,file)

### MODEL LOADING

In [17]:
with open('model_pickle','rb') as file:
    pred_model = pickle.load(file)

In [18]:
X_test

,Study Hours per Week,Previous Grades cummulative(100%),Mock Result Cummulative(100%)
8298,9.8,59.744575,82.7
27514,4.8,36.638233,62.3
2259,6.1,65.361586,64.3
11679,5.8,38.170145,54.6
27978,8.1,58.148833,81.1
...,...,...,...
19889,2.3,57.510536,88.5
9982,7.1,49.085019,31.8
24897,13.8,43.212689,61.0
12885,3.3,37.595678,39.8
19259,18.8,51.638206,68.4

### PREDICTION

In [21]:
def predict_price(Study_hours,Prev_grades,Mock_result):    

    x = np.zeros(len(X_test.columns))
    x[0] = Study_hours
    x[1] = Prev_grades
    x[2] = Mock_result
    prediction = pred_model.predict([x])[0]
    if prediction == 1:
        return 'Likely to Pass'
    else:
      return 'Likely to fail'

In [22]:
predict_price(9,50,70)

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

'Likely to Pass'